body {
    background-color: black;
    
  }
  
  p, h2 {
    color: #12d8c7;
    text-align: center;
    font-family: sans-serif;
  }
  
  #title {
    background-color:black;
  }
  
  button {
    margin: 1px;
    border:none;
    font-family: monospace;
    font-size: 1.3em;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #12d8c7;
  }
  
  .section {
    display:flex;
    justify-content: center;
  }
  
  .wrapper {
    display:flex;
    flex-direction: column;
    padding: 25px;
    background-color: #34363E;
    justify-content: center;
   
    /* From https://css.glass */
  background: rgba(29, 29, 29, 0.43);
  border-radius: 16px;
  box-shadow: 0 4px 30px #12d8c7;
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 2px solid #12d8c7;
  }
  
  #calculadora {
    width: 300px;
    padding: 10px;
    background-color: #12d8c7;
    border-radius: 5px;
    
    /* From https://css.glass */
  background: #4ce6d99f;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(29, 29, 29, 0.2);
  }
  
  #tela {
    width: 290px;
    height: 50px;
    text-align: right;
    border:none;
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 0 10px 0 0;
    font-family: monospace;
    font-size: 1.7em;
  }
  
  #buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,50px);
  }
  
  #buttons button:nth-child(8){
    grid-row: 2 / span 2;
    grid-column: 4/5;
  }
  
  #buttons button:nth-child(15) {
    grid-row: 4 / span 2;
    grid-column: 4/5;
  }
  
  #buttons button:nth-child(16) {
    grid-column: 1 / span 2;
  }